#django
DJANGO_SECRET_KEY=env_secret_key_check_django
DJANGO_LOG=/var/log/test_django_20260730/django_info.log

#node
NODE_PORT=8001
NODE_LOG_PATH=/var/log/20260803_react_django_nodejs
NODE_LOG_NAME=node_access.log
NODE_SECRET=node_env_secret_check_node
#NODE_CONFIG_FRONTEND_DIST_PATH=/opt/20260809_local_deployment_react_django+postgresql_nodejs+mysql/frontend_react/dist/
NODE_CONFIG_FRONTEND_DIST_PATH=/home/hf/test/web_deployment/20260809_local_deployment_react_django+postgresql_nodejs+mysql/frontend_react/dist/
NODE_PROXY_DJANGO_API_URL=http://127.0.0.1:8000

#postgresql
PSQL_DB_NAME=django_db1
PSQL_DB_USER=user1
PSQL_DB_PASS=password
#PSQL_DB_HOST=localhost
PSQL_DB_HOST=127.0.0.1
PSQL_DB_PORT=5432

#mysql
MYSQL_DB_NAME=node_db2
MYSQL_DB_USER=user_test
MYSQL_DB_PASS=password
#MYSQL_DB_HOST=localhost
MYSQL_DB_HOST=127.0.0.1
MYSQL_DB_PORT=3306

#redis
REDIS_URL=redis://:password@127.0.0.1:6379
REDIS_URL_DJANGO=redis://:password@127.0.0.1:6379/0
REDIS_URL_NODE=redis://:password@127.0.0.1:6379/1
